h1 {color: aquamarine;
}

body {
background-image: url("banner.jpg");

}

p {
    border: 5px solid white;
    text-align: center;
    margin:25px;
    padding:25px;
}

ol{
  text-align: left;
  color: #bbbbbb
}

img{
  max-width: 25%;  
  height: auto;  
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
 }

